<div class="container-fluid">
    <div class="row" style="display: flex;justify-content: space-between; background-color: none; height:  100px">
        <h3>New Transaction</h3>
        <i id="cross" class="fa fa-times" aria-hidden="true" style="font-size:20px" (click)="goBack()"></i>
    </div>
    <form>
    <div class="row" >
        <div class="col-md-4">
            <label >Transaction Type</label>
        </div>
        <div class="col-md-8">
            <select class="form-control" width="100%" name="type" [(ngModel)]="formSubmit.type">
                <option value=''>Select Type</option>
                <option value='CREDIT'>Credit</option>
                <option value='DEBIT'>Debit</option>
            </select>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-4">
            <label >Amount</label>
        </div>
        <div class="col-md-8">
            <input type="number" class="form-control" name="amount" [(ngModel)]="formSubmit.amount">
        </div>
    </div>
    <div class="row" >
        <div class="col-md-4">
            <label >Description</label>
        </div>
        <div class="col-md-8">
            <textarea width="100%" class="form-control" name="description" style="resize: none;" [(ngModel)]="formSubmit.description"></textarea>
        </div>
    </div>
    <div class="row" >
       
        <div class="col-md-12" style="display: flex; justify-content: flex-end;">
            <button class="btn btn-primary m-2" (click)="addTransaction()"><i class="fa fa-save m-2"></i>Save</button>
            <button class="btn btn-secondary m-2"><i class="fa fa-times m-2"></i>Cancel</button>
        </div>
    </div>
    </form>

</div>